  
<footer style="background-color: whitesmoke" class="card" >

    <!-- Footer Links -->
    <div class="container">
  <h4 class="h4 text-center"> Contact On</h4>
      
      
        <div style="margin-left: 35%" >
  <a href=""><img width="10" height="10" src="/src/assets/facebook.png" >Facebook</a>
</div>
<div style="margin-left: 45%;margin-top: -2%">
        <a href=""><img width="10" height="10" src="/src/assets/twitter.png" >Twitter</a>
    </div>
    <div style="margin-left: 55%;margin-top: -2%">
            <a href=""><img width="10" height="10" src="/src/assets/images.png" >Gmail</a>
        </div>
    </div>
    
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://localhost:4200/home">OnlineMedicalStore</a>
    </div>
    <!-- Copyright -->
  
  </footer>