<app-adminsidebar></app-adminsidebar>
<div class="jumbotron" style="width: 81%;margin-left: 19%">
    <h1 class="display-4">Welcome, Admin</h1>
    <p class="lead">Please Select The Task To be carried from Sidebar</p>
    <hr class="my-4">
    <h2 class="h2 text-center">Dashboard</h2>
  </div>
  <div style="margin-left: 20%;background-color: whitesmoke;width: 35%" class="card">
      <div class="card-body">
          <h4>Get All Products</h4>
          <p>Will redirect to a page which will display all data about products available</p>
          <br>
          <br>

        </div> 

  </div>
  <div style="margin-left: 60%;background-color: whitesmoke;width:35%;margin-top: -8.8%" class="card">
    <div class="card-body">
        <h4>Add Products</h4>
        <p>Redirects to a page where admin can add data</p>
        <br>
        <br>
    </div>
</div>
<div style="margin-left: 20%;background-color: whitesmoke;width: 35%;margin-top: 2%" class="card">
        <div class="card-body">
            <h4>Search Product By ProductId</h4>
            <p>Displays a page where data of particular product will be displayed depending upon ProductId</p>
            <br>
            <br>
        </div> 
    </div>
    <div style="margin-left: 60%;background-color: whitesmoke;width:35%;margin-top: -8.8%" class="card">
      <div class="card-body">
          <h4>Search Product by Product Name</h4>
          <p>Displays a page where product data will diplayed as per entered product name</p>
          <br>
          <br>
      </div>
  </div>
  <div style="margin-left: 20%;background-color: whitesmoke;width: 35%;margin-top: 2%" class="card">
        <div class="card-body">
            <h4>Get All Customers</h4>
            <p> Will redirect to a page which will display customers along with their information.</p>
            <br>
            <br>
            
        </div> 
    </div>
    <div style="margin-left: 60%;background-color: whitesmoke;width:35%;margin-top: -8.8%" class="card">
      <div class="card-body">
          <h4>Search Customers by customerId</h4>
          <p>Will redirect to a page which will display  data about particular customer according to their customerId which is entered</p>
          <br>
          
      </div>
  </div>
  <div style="margin-left: 20%;background-color: whitesmoke;width: 35%;margin-top: 2%" class="card">
        <div class="card-body">
            <h4>Change Product Details</h4>
            <p>Displays page where admin can add product details</p>
            <br>
            <br>
        </div> 
    </div>
    